
 <!-- <div *ngIf="!Isselected && (SelectedItem=== undefined || SelectedItem===null)" >

  <ul class="List-Items"  >
    <li>
      <span class="badge" >Title</span>
      <span class="badge">Author</span>
      <span class="badge" >Discounted Price</span>
      <span class="badge"  >Actual Price</span>
      <button  class="badge"> Action</button>
    </li>
  </ul>
 <div   *ngFor="let item of Itemlist" >
  <ul class="List-Items" (click)="onSelect(item)"  >
    <li>
      <span class="badge" >{{item.title}}</span>
      <span class="badge">{{item.author}}</span>
      <span class="badge" >{{item.discounted_price}}</span>
      <span class="badge"  >{{item.actual_price}}</span>
      <button  class="badge" (click)="ClickonAddtocart(item)"> Add to cart</button>
    </li>
  </ul>
</div>
</div> -->


<div *ngIf="!Isselected && (SelectedItem=== undefined || SelectedItem===null)" >
  <div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
              <th>Title</th>
              <th>Author</th>
              <th>Discounted Price</th>
              <th>Actual Price</th>
              <th> Action</th>
            </tr>
        </thead>
        <tbody>
            <tr  *ngFor="let item of Itemlist" (click)="onSelect(item)">
                <td>{{item.title}}</td>
                <td>{{item.author}}</td>
                <td>{{item.discounted_price}}</td>
                <td>{{item.actual_price}}</td>
                <button class ="badge" (click)="ClickonAddtocart(item)"> Add to cart</button>
            </tr>
        </tbody>
    </table>
  </div>

</div>
<div *ngIf="Isselected && SelectedItem!== undefined && SelectedItem!==null" >
  <h2>{{SelectedItem.title | uppercase}}</h2>
  <div>
    <label >{{SelectedItem.author}} </label>
  </div>
  <br>
  <div >
    <label >{{SelectedItem.author}} </label>
  </div>
  <br>
  <tr>
    <button gap="10">React</button>
    <button>React</button>
    <button>React</button>
  </tr>
  <br>
  <mat-card-title-group>
    <mat-card-title>
      Course Details
    </mat-card-title>
    <mat-card-content >{{SelectedItem.details }}</mat-card-content>
  </mat-card-title-group>
  <br>
  <br>
  <tr col-md-5>
    <span>Item Price :{{SelectedItem.actual_price}}</span>
  <button  class="badge" routerLink="/list-items" (click)="ClickonAddtocart(SelectedItem)"> Add to cart</button>
  <button  class="badge" routerLink="/list-items" (click)="ClickonWishlist(SelectedItem)">Move To wishlist</button>
</tr>
</div>
